<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Ninja | <%= title %></title>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora atque maxime ratione aliquid! Mollitia delectus a temporibus excepturi nostrum exercitationem, facere alias incidunt quo totam ut eveniet. Accusantium, nam consequatur.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora atque maxime ratione aliquid! Mollitia delectus a temporibus excepturi nostrum exercitationem, facere alias incidunt quo totam ut eveniet. Accusantium, nam consequatur.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora atque maxime ratione aliquid! Mollitia delectus a temporibus excepturi nostrum exercitationem, facere alias incidunt quo totam ut eveniet. Accusantium, nam consequatur.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora atque maxime ratione aliquid! Mollitia delectus a temporibus excepturi nostrum exercitationem, facere alias incidunt quo totam ut eveniet. Accusantium, nam consequatur.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore reiciendis facere repudiandae. Veniam, repudiandae nobis, ea quis ipsum sed cum eius provident, necessitatibus quaerat cumque voluptate neque rerum quo numquam.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum explicabo ipsa sed odit consectetur aspernatur soluta ex quidem, magni non modi voluptas natus facere ad veritatis temporibus officiis, eos obcaecati!</p>
    </div>

    <%- include('./partials/foot.ejs') %>
</body>
</html>